* { 
    font-family: 'Roboto' , sans-serif; 

}
body{ 
    background-color: cornflowerblue; 
}  
fieldset{ 
    width: 350px; 
    height: 350px; 
    background-color: white; 
    margin: auto;
    margin-top: 100px; 
    border-radius: 5px; 
    border: white; 
} 
h1{ 
    font-size: 40px; 
    font-weight: 700; 
    color: #757472; 
    margin-left: 125px;
    margin-top: 50px;
    margin-bottom: 40px;
} 
input{ 
    box-sizing: border-box; 
    height: 45px; 
    width: 305px; 
    background-color: #ebf0f1; 
    border-radius:5px; 
    border: none; 
    margin-left: 25px;
    padding-left: 15px;  
    font-size: 16px; 
} 
input::placeholder{ 
    text-align: center; 
    font-size: 17px; 
} 
button{
    text-align: center; 
    font-size: 16px; 
    color: white; 
    height: 45px; 
    width: 304px; 
    margin-left: 25px; 
    border-radius:4px; 
    border: none; 
    background-color: cornflowerblue; 
} 
a{ 
    color: black; 
    margin-left: 105px; 
}
.space{
    margin-bottom: 15px;
} 